@charset "UTF-8";
/* Обнуление */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper {
  min-height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header {
  position: sticky;
  width: 100%;
  height: calc(60px + (71 - 60) * ((100vw - 769px) / (1440 - 769)));
  z-index: 10;
}
.header .header__container {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .header-brand .header__logo {
  padding: 0 15px;
  color: #ffefcb;
  font-size: 24px;
  font-weight: 700;
  transition: color 0.3s ease-in;
}
.header .header__container .header-brand .header__logo:hover {
  color: white;
}
.header .header__container .header__menu .menu__body .menu__list {
  display: flex;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link {
  font-size: 15px;
  line-height: 125%;
  padding: 0 15px;
  color: #ffefcb;
  transition: all 0.3s ease-in;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
  color: white;
  box-shadow: 0px 3px 3px #fce8b7;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 1240px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main {
  color: #ffefcb;
  height: 100vh;
  margin-top: -71px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/home.png) no-repeat center center/cover;
}
.main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .container .main-title {
  margin-top: 250px;
  padding-bottom: 30px;
  font-size: 50px;
}
.main .container .main-template {
  padding-bottom: 50px;
}
.main .container .main-buttom {
  cursor: pointer;
  padding: 15px 30px;
  border: 2px solid white;
  background: none;
  transition: all 0.5s ease;
}
.main .container .main-buttom a {
  color: #ffefcb;
}
.main .container .main-buttom:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #fce8b7;
}

.services {
  padding: 50px 0px;
}
.services .container .services__top {
  text-align: center;
  margin-bottom: 100px;
}
.services .container .services__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.services .container .services__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.services .container .services__offer {
  display: flex;
  justify-content: space-between;
}
.services .container .services__offer .offer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  min-width: 240px;
  padding: 10px 20px;
}
.services .container .services__offer .offer-card .offer-card__fas {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 20px 0px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.services .container .services__offer .offer-card .offer-card__fas i {
  color: #ab5425;
  font-size: 45px;
  font-weight: 900;
  transition: all 0.5s ease-in;
}
.services .container .services__offer .offer-card .offer-card__fas:hover {
  background-color: #ab5425;
}
.services .container .services__offer .offer-card .offer-card__fas:hover i {
  color: #fff6f4;
}
.services .container .services__offer .offer-card .offer-card__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
.services .container .services__offer .offer-card .offer-card__description {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  line-height: 145%;
  text-align: center;
  margin-bottom: 20px;
}

.about_us .container .about_us__top {
  text-align: center;
  margin-bottom: 40px;
}
.about_us .container .about_us__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.about_us .container .about_us__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.about_us .container .about_us__text {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 25px;
}
.about_us .container .about_us__text p {
  font-family: "Roboto Slab", sans-serif;
  width: 49%;
  font-size: 14px;
  line-height: 24px;
}
.about_us .container .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about_us .container .swiper-container .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_us .container .swiper-container .swiper-slide img {
  max-width: 260px;
  margin-bottom: 15px;
}
.about_us .container .swiper-container .swiper-slide img:hover {
  filter: grayscale(1);
}
.about_us .container .swiper-container .swiper-slide .swiper-slide__content {
  font-size: 12px;
  text-align: center;
}
.about_us .container .swiper-container .swiper-slide .swiper-slide__content h3 {
  margin-bottom: 15px;
}
.about_us .container .swiper-container .swiper-slide .swiper-slide__content p {
  margin-bottom: 20px;
}
.about_us .container .swiper-container .swiper_btn {
  opacity: 0.5;
  width: 35px;
  height: 38px;
  background-color: rgba(85, 85, 85, 0.5);
}
.about_us .container .swiper-container .swiper-button-next {
  position: absolute;
  top: 38%;
}
.about_us .container .swiper-container .swiper-button-next::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 25%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  color: #fff;
}
.about_us .container .swiper-container .swiper-button-prev {
  position: absolute;
  top: 38%;
}
.about_us .container .swiper-container .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 25%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  color: #fff;
}

.latest_works {
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
}
.latest_works .container .latest_works__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.latest_works .container .latest_works__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.latest_works .container .latest_works__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.latest_works .container .latest_works__top .latest_works__list {
  height: 60px;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest_works .container .latest_works__top .latest_works__list .list_item {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  line-height: 136%;
  color: #555;
  cursor: pointer;
  padding: 0 15px;
}
.latest_works .container .latest_works__top .latest_works__list .selected {
  color: #c0301c;
}
.latest_works .container .jobs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -1em;
  transition: all 0.9s ease;
}
.latest_works .container .jobs .invisible {
  display: none;
}
.latest_works .container .jobs .jobs_card {
  position: relative;
  padding: 1em;
  flex: 0 0 33.3%;
  transition: all 0.9s ease;
}
.latest_works .container .jobs .jobs_card img {
  width: 100%;
  overflow: hidden;
}
.latest_works .container .jobs .jobs_card .jobs_hover {
  display: none;
}
.latest_works .container .jobs .jobs_card:hover .jobs_hover {
  display: block;
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  background-color: rgba(192, 48, 28, 0.7);
}
.latest_works .container .jobs .jobs_card:hover h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.latest_works .container .jobs .jobs_card:hover p {
  margin-bottom: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.latest_works .container .jobs .jobs_card:hover .button {
  width: 94px;
  letter-spacing: 1px;
  color: #c0301c;
  background-color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
}

.your_project {
  color: white;
  margin-top: calc(39px + (99 - 39) * ((100vw - 320px)/ (1600 - 320)));
  background: linear-gradient(rgba(192, 48, 28, 0.6), rgba(192, 48, 28, 0.6)), fixed url(../img/get_in_touch.png) no-repeat center center/cover;
}
.your_project .container .content {
  padding: calc(40px + (100 - 40) * ((100vw - 320px)/ (1600 - 320)));
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px)/ (1600 - 320)));
  line-height: 136%;
}
.your_project .container .content p:last-of-type {
  padding-bottom: calc(20px + (71 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.your_project .container .content .main-buttom {
  cursor: pointer;
  padding: 15px 30px;
  border: 2px solid white;
  background: none;
  transition: all 0.4s ease;
}
.your_project .container .content .main-buttom a {
  color: #ffefcb;
}
.your_project .container .content .main-buttom:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #fce8b7;
}

.blog .container .blog__top {
  text-align: center;
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
  line-height: calc(20px + (24 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.blog .container .blog__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.blog .container .blog__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.blog .container .blog__post {
  font-family: "Roboto Slab", sans-serif;
}
.blog .container .blog__post figure img {
  max-width: 490px;
  padding-right: calc(8px + (33 - 8) * ((100vw - 320px)/ (1600 - 320)));
  object-fit: contain;
  float: left;
}
.blog .container .blog__post figure figcaption .date {
  display: flex;
  float: left;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(60px + (76 - 60) * ((100vw - 320px)/ (1600 - 320)));
  height: calc(60px + (76 - 60) * ((100vw - 320px)/ (1600 - 320)));
  margin: 0 calc(13px + (26 - 13) * ((100vw - 320px)/ (1600 - 320))) calc(8px + (23 - 8) * ((100vw - 320px)/ (1600 - 320))) 0;
  border: 2px solid #555;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px)/ (1600 - 320)));
  font-weight: 700;
  letter-spacing: 2px;
  color: #777;
}
.blog .container .blog__post figure figcaption .post__title {
  display: block;
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 400;
  color: #555;
}
.blog .container .blog__post figure figcaption .post__autor {
  color: #777;
  display: block;
  font-size: 11px;
  margin-bottom: 20px;
}
.blog .container .blog__post figure figcaption .post__autor a {
  color: #777;
  cursor: pointer;
}
.blog .container .blog__post figure figcaption .post__autor a:hover {
  color: #0013e1;
}
.blog .container .blog__post figure figcaption summary {
  display: none;
}
.blog .container .blog__post figure figcaption .post__text {
  font-size: calc(12px + (14 - 12) * ((100vw - 320px)/ (1600 - 320)));
  line-height: calc(18px + (24 - 18) * ((100vw - 320px)/ (1600 - 320)));
  color: #555;
}
.blog .container .blog__post figure figcaption .invisible {
  display: inline-block;
  font-size: calc(10px + (13 - 10) * ((100vw - 320px)/ (1600 - 320)));
  font-weight: 700;
  letter-spacing: 1px;
  outline: 0;
  color: #c0301c;
  cursor: pointer;
}
.blog .container .blog__post figure figcaption::after {
  content: "";
  display: block;
  clear: both;
}
.blog .container .blog__post hr {
  height: 1px;
  margin: 30px 0;
  background-color: #ddd;
}

.clients {
  padding-bottom: 60px;
}
.clients .company_wrapper {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients .company_wrapper .clients__company {
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.clients .company_wrapper .clients__company:hover {
  transform: scale(1.1);
}
.clients .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #7b7b7b;
}
.clients .swiper-pagination-bullet-active {
  background-color: #c0301c;
}
.clients .swiper-container__clients {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.clients .swiper-container__clients .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
}
.clients .swiper-container__clients .swiper-slide p {
  padding: 50px 20px 20px 20px;
}
.clients .swiper-container__clients .swiper-slide span {
  padding: 30px 0px 60px 0px;
  display: block;
}

.contacts {
  margin-bottom: 100px;
}
.contacts .contacts__top {
  text-align: center;
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
  line-height: calc(20px + (24 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.contacts .contacts__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.contacts .contacts__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.contacts .contacts__bottom {
  display: flex;
  flex: 2 2 10%;
}
.contacts .contacts__bottom .contacts__aside {
  margin-right: 80px;
}
.contacts .contacts__bottom .contacts__aside .aside_form {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 175%;
  color: #555;
  font-family: "Roboto Slab", sans-serif;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  color: #555;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top i {
  width: 10px;
  margin-right: 20px;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top h3 {
  font-size: 14px;
  line-height: 220%;
  font-weight: 600;
}
.contacts .contacts__bottom .contacts__aside .aside_form p {
  margin-left: 30px;
}
.contacts .contacts__bottom .contacts__aside .aside_form p a {
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}
.contacts .contacts__bottom .contacts__aside .aside_form p a:hover {
  color: #cbbc72;
}
.contacts .contacts__bottom .contact_form {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts .contacts__bottom .contact_form input {
  padding: 9px;
  font-size: 12px;
  font-family: "Roboto Slab", sans-serif;
  color: #555;
  width: 48%;
  height: 40px;
  border: 1px solid #555;
  margin-bottom: 18px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
.contacts .contacts__bottom .contact_form textarea {
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  padding: 9px;
  min-height: 100px;
  border: 1px solid #555;
  letter-spacing: 0.1px;
  margin-bottom: 1.5em;
}
.contacts .contacts__bottom .contact_form input:focus {
  border-radius: 8px;
}
.contacts .contacts__bottom .contact_form input:focus,
.contacts .contacts__bottom .contact_form textarea:focus {
  outline: none;
  border: 1px solid #000000;
}
.contacts .contacts__bottom .contact_form div {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacts .contacts__bottom .contact_form div .button {
  font-family: "Roboto Slab", sans-serif;
  color: #555;
  border-radius: 0px;
  padding: 10px 40px;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-bottom: 0px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contacts .contacts__bottom .contact_form div .button:hover {
  box-shadow: 0px 0px 10px #686868;
}
.contacts .contacts__bottom .contact_form div p {
  width: 150%;
  font-size: 12px;
}
.contacts .contacts__bottom .contact_form div p span {
  color: #c0301c;
}

.footer {
  background-color: #c0301c;
  padding: calc(24px + (100 - 24) * ((100vw - 320px)/ (1600 - 320))) 0;
  text-align: center;
}
.footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-social .socisl-item {
  text-align: center;
  margin: 0 8px;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer .footer-social .socisl-item a i {
  line-height: 30px;
  color: #ffffff;
}
.footer .footer-social .socisl-item:hover {
  border: 2px solid #ffe684;
}
.footer .footer-social .socisl-item:hover a i {
  color: #ffe684;
}
.footer hr {
  margin: 20px auto;
  width: 50px;
  height: 2px;
  background-color: white;
}
.footer p {
  color: white;
  letter-spacing: 0.5px;
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(10px + (12 - 10) * ((100vw - 320px)/ (1600 - 320)));
}