@charset "UTF-8";
/* Обнуление */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header {
  position: sticky;
  width: 100%;
  height: calc(60px + (71 - 60) * ((100vw - 769px) / (1440 - 769)));
  z-index: 10;
}
.header .header__container {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .header__logo {
  padding: 0 15px;
  color: #ffefcb;
  font-size: 24px;
  font-weight: 700;
  transition: color 0.3s ease-in;
}
.header .header__container .header__logo:hover {
  color: white;
}
.header .header__container .header__menu .menu__icon {
  display: none;
}
.header .header__container .header__menu .menu__body .menu__list {
  display: flex;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link {
  font-size: 15px;
  line-height: 125%;
  padding: 0 15px;
  color: #ffefcb;
  transition: all 0.3s ease-in;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
  color: white;
  box-shadow: 0px 3px 3px #fce8b7;
}

/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

@media (max-width: 767px) {
  .header {
    height: calc(50px + (60 - 50) * ((100vw - 465px) / (769 - 465)));
  }
  .header .header__container {
    max-width: calc(720px + (720 - 100) * ((100vw - 769px) / (1440 - 769)));
    flex-direction: row;
  }
  .header .header__container .header-brand {
    border-bottom: none;
  }
  .header .header__container .header__menu .header__logo {
    font-size: 20px;
  }
  .header .header__container .header__menu .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header .header__container .header__menu .menu__icon span,
.header .header__container .header__menu .menu__icon::before,
.header .header__container .header__menu .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffefcb;
  }
  .header .header__container .header__menu .menu__icon::before,
.header .header__container .header__menu .menu__icon::after {
    content: "";
  }
  .header .header__container .header__menu .menu__icon::before {
    top: 0;
  }
  .header .header__container .header__menu .menu__icon::after {
    bottom: 0;
  }
  .header .header__container .header__menu .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header .header__container .header__menu .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header .header__container .header__menu .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header .header__container .header__menu .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header .header__container .header__menu .menu__body {
    align-items: center;
    flex-direction: column;
  }
  .header .header__container .header__menu .menu__body .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .header .header__container .header__menu .menu__body .menu__list li {
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0px;
  }
  .header .header__container .header__menu .menu__body .menu__list .menu__link {
    font-size: 16px;
  }
  .header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
    box-shadow: none;
  }
  .header .header__container .header__menu .menu__body .menu__contact {
    margin: 0;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100% !important;
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px 30px 60px 30px !important;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 136%;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 1240px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main {
  color: #ffefcb;
  height: 100vh;
  margin-top: -71px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/webp/home.webp) no-repeat center center/cover;
}
.main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .container .main-title {
  margin-top: 250px;
  padding-bottom: 30px;
  font-size: 50px;
}
.main .container .main-template {
  padding-bottom: 50px;
}
.main .container .main-buttom {
  cursor: pointer;
  padding: 15px 30px;
  border: 2px solid white;
  background: none;
  transition: all 0.4s ease;
  color: #ffefcb;
}
.main .container .main-buttom:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #fce8b7;
  color: white;
}

@media (max-width: 767px) {
  .main .container .main-title {
    margin-top: calc(200px + (250 - 200) * ((100vw - 465px) / (769 - 465)));
    font-size: calc(30px + (50 - 30) * ((100vw - 465px) / (769 - 465)));
  }
  .main .container .main-template {
    font-size: calc(12px + (14 - 12) * ((100vw - 465px) / (769 - 465)));
    padding-bottom: calc(40px + (50 - 40) * ((100vw - 465px) / (769 - 465)));
  }
}
.services {
  padding: calc(30px + (50 - 30) * ((100vw - 769px) / (1440 - 320))) 0px;
}
.services .container .services__top {
  text-align: center;
  margin-bottom: calc(50px + (100 - 50) * ((100vw - 769px) / (1440 - 769)));
}
.services .container .services__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.services .container .services__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.services .container .services__offer {
  display: flex;
  justify-content: space-between;
}
.services .container .services__offer .offer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  min-width: 240px;
  padding: 10px 20px;
}
.services .container .services__offer .offer-card .offer-card__fas {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 20px 0px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.services .container .services__offer .offer-card .offer-card__fas i {
  color: #ab5425;
  font-size: 45px;
  font-weight: 900;
  transition: all 0.5s ease-in;
}
.services .container .services__offer .offer-card .offer-card__fas:hover {
  background-color: #ab5425;
}
.services .container .services__offer .offer-card .offer-card__fas:hover i {
  color: #fff6f4;
}
.services .container .services__offer .offer-card .offer-card__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.services .container .services__offer .offer-card .offer-card__description {
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px)/ (1600 - 320)));
  line-height: 145%;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .services .services__offer {
    flex-direction: column;
    align-items: center;
  }
}
.about_us .about_us__top {
  text-align: center;
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.about_us .about_us__top h2 {
  text-transform: uppercase;
  padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.about_us .about_us__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.about_us .about_us__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.about_us .about_us__text p {
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(12px + (14 - 12) * ((100vw - 769px) / (1440 - 769)));
  width: 49%;
  line-height: calc(19px + (24 - 19) * ((100vw - 320px)/ (1600 - 320)));
}
.about_us .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about_us .swiper-container .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_us .swiper-container .swiper-slide img {
  width: 100%;
  margin-bottom: 15px;
}
.about_us .swiper-container .swiper-slide img:hover {
  filter: grayscale(1);
}
.about_us .swiper-container .swiper-slide .swiper-slide__content {
  font-size: 12px;
  text-align: center;
}
.about_us .swiper-container .swiper-slide .swiper-slide__content h3 {
  margin-bottom: 15px;
}
.about_us .swiper-container .swiper-slide .swiper-slide__content p {
  margin-bottom: 20px;
}
.about_us .swiper-container .swiper_btn {
  opacity: 0.5;
  width: 35px;
  height: 38px;
  background-color: rgba(85, 85, 85, 0.5);
}
.about_us .swiper-container .swiper-button-next {
  position: absolute;
  top: calc(35% + (38 - 35) * ((100vw - 769px) / (1440 - 769)));
  right: 0px;
}
.about_us .swiper-container .swiper-button-next::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 25%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  color: #fff;
}
.about_us .swiper-container .swiper-button-prev {
  position: absolute;
  top: calc(35% + (38 - 35) * ((100vw - 769px) / (1440 - 769)));
  left: 0px;
}
.about_us .swiper-container .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 25%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  color: #fff;
}

@media (max-width: 767px) {
  .about_us .about_us__text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about_us .about_us__text p {
    width: 90%;
  }
}
.latest_works {
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
}
.latest_works .latest_works__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.latest_works .latest_works__top h2 {
  text-transform: uppercase;
  padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.latest_works .latest_works__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.latest_works .latest_works__top .latest_works__list {
  height: calc(45px + (60 - 45) * ((100vw - 320px)/ (1600 - 320)));
  max-width: 700px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.latest_works .latest_works__top .latest_works__list .list_item {
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px)/ (1600 - 320)));
  line-height: 136%;
  color: #555;
  cursor: pointer;
  padding: 0 calc(5px + (15 - 5) * ((100vw - 320px)/ (1600 - 320)));
}
.latest_works .latest_works__top .latest_works__list .selected {
  color: #c0301c;
}
.latest_works .jobs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -1em;
  transition: all 0.9s ease;
}
.latest_works .jobs .invisible {
  display: none;
}
.latest_works .jobs .jobs_card {
  position: relative;
  padding: 1em;
  flex: 0 0 33.3%;
  transition: all 0.9s ease;
}
.latest_works .jobs .jobs_card img {
  width: 100%;
  overflow: hidden;
}
.latest_works .jobs .jobs_card .jobs_hover {
  display: none;
}
.latest_works .jobs .jobs_card:hover .jobs_hover {
  display: block;
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  background-color: rgba(192, 48, 28, 0.7);
}
.latest_works .jobs .jobs_card:hover h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.latest_works .jobs .jobs_card:hover p {
  margin-bottom: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.latest_works .jobs .jobs_card:hover .button {
  width: 94px;
  letter-spacing: 1px;
  color: #c0301c;
  background-color: #fff;
  line-height: 36px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .latest_works .jobs .jobs_card {
    flex: 0 0 50%;
  }
}
@media (max-width: 465px) {
  .latest_works .jobs .jobs_card {
    flex: 0 0 100%;
  }
}
.your_project {
  color: white;
  margin-top: calc(39px + (99 - 39) * ((100vw - 320px)/ (1600 - 320)));
  background: linear-gradient(rgba(192, 48, 28, 0.6), rgba(192, 48, 28, 0.6)), fixed url(../img/webp/get_in_touch.webp) no-repeat center center/cover;
}
.your_project .container .content {
  padding: 40px calc(20px + (100 - 20) * ((100vw - 320px)/ (1600 - 320)));
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px)/ (1600 - 320)));
  line-height: 150%;
}
.your_project .container .content p:last-of-type {
  padding-bottom: calc(20px + (71 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.your_project .container .content .main-buttom {
  cursor: pointer;
  padding: 15px 30px;
  border: 2px solid white;
  background: none;
  transition: all 0.4s ease;
}
.your_project .container .content .main-buttom a {
  color: #ffefcb;
}
.your_project .container .content .main-buttom:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #fce8b7;
}

.blog .blog__top {
  text-align: center;
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
  line-height: calc(20px + (24 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.blog .blog__top h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.blog .blog__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: 25px;
}
.blog .blog__post {
  font-family: "Roboto Slab", sans-serif;
}
.blog .blog__post figure img {
  width: 490px;
  padding-right: calc(8px + (33 - 8) * ((100vw - 320px)/ (1600 - 320)));
  object-fit: contain;
  float: left;
}
.blog .blog__post figure figcaption .date {
  display: flex;
  float: left;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(60px + (76 - 60) * ((100vw - 320px)/ (1600 - 320)));
  height: calc(60px + (76 - 60) * ((100vw - 320px)/ (1600 - 320)));
  margin: 0 calc(13px + (26 - 13) * ((100vw - 320px)/ (1600 - 320))) calc(8px + (23 - 8) * ((100vw - 320px)/ (1600 - 320))) 0;
  border: 2px solid #555;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px)/ (1600 - 320)));
  font-weight: 700;
  letter-spacing: 2px;
  color: #777;
}
.blog .blog__post figure figcaption .post__title {
  display: block;
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 400;
  color: #555;
}
.blog .blog__post figure figcaption .post__autor {
  color: #777;
  display: block;
  font-size: 11px;
  margin-bottom: 20px;
}
.blog .blog__post figure figcaption .post__autor a {
  color: #777;
  cursor: pointer;
}
.blog .blog__post figure figcaption .post__autor a:hover {
  color: #0013e1;
}
.blog .blog__post figure figcaption summary {
  display: none;
}
.blog .blog__post figure figcaption .post__text {
  font-size: calc(10px + (13 - 10) * ((100vw - 320px)/ (1600 - 320)));
  color: #555;
}
.blog .blog__post figure figcaption .invisible {
  display: inline-block;
  font-size: calc(10px + (13 - 10) * ((100vw - 320px)/ (1600 - 320)));
  font-weight: 700;
  letter-spacing: 1px;
  outline: 0;
  color: #c0301c;
  cursor: pointer;
}
.blog .blog__post figure figcaption::after {
  content: "";
  display: block;
  clear: both;
}
.blog .blog__post hr {
  height: 1px;
  margin: 30px 0;
  background-color: #ddd;
}

@media (max-width: 767px) {
  .blog .blog__post figure img {
    min-width: 100%;
    width: 100%;
    max-height: 420px;
    padding: 0px 10px 7px 10px;
  }
}
.clients {
  padding-bottom: calc(20px + (60 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.clients .company_wrapper {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.clients .company_wrapper .clients__company {
  padding: 8px 20px;
  transition: all 0.3s ease;
}
.clients .company_wrapper .clients__company:hover {
  transform: scale(1.1);
}
.clients .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #7b7b7b;
}
.clients .swiper-pagination-bullet-active {
  background-color: #c0301c;
}
.clients .swiper-container__clients {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.clients .swiper-container__clients .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
}
.clients .swiper-container__clients .swiper-slide p {
  padding: 50px 20px 20px 20px;
}
.clients .swiper-container__clients .swiper-slide span {
  padding: 30px 0px 60px 0px;
  display: block;
}

@media (max-width: 465px) {
  .clients .company_wrapper {
    padding: 0px;
  }
  .clients .company_wrapper .clients__company {
    padding: 8px 10px;
    width: 125px;
  }
  .clients .company_wrapper .clients__company img {
    width: 100%;
  }
  .clients .swiper-container__clients .swiper-slide p {
    font-size: 13px;
    padding: 30px 5px 10px 5px;
  }
  .clients .swiper-container__clients .swiper-slide span {
    padding: 10px 0px 40px 0px;
  }
}
.contacts {
  margin-bottom: calc(30px + (100 - 30) * ((100vw - 320px)/ (1600 - 320)));
}
.contacts .contacts__top {
  text-align: center;
  margin: calc(18px + (71 - 18) * ((100vw - 320px)/ (1600 - 320))) auto;
  line-height: calc(20px + (24 - 20) * ((100vw - 320px)/ (1600 - 320)));
}
.contacts .contacts__top h2 {
  text-transform: uppercase;
  padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.contacts .contacts__top hr {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #555;
  margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px)/ (1600 - 320)));
}
.contacts .contacts__bottom {
  display: flex;
}
.contacts .contacts__bottom .contacts__aside {
  margin-right: 80px;
}
.contacts .contacts__bottom .contacts__aside .aside_form {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 175%;
  color: #555;
  font-family: "Roboto Slab", sans-serif;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top {
  display: flex;
  align-items: center;
  line-height: 30px;
  color: #555;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top i {
  width: 10px;
  margin-right: 20px;
}
.contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top h3 {
  font-size: 14px;
  line-height: 220%;
  font-weight: 600;
}
.contacts .contacts__bottom .contacts__aside .aside_form p {
  margin-left: 30px;
}
.contacts .contacts__bottom .contacts__aside .aside_form p a {
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}
.contacts .contacts__bottom .contacts__aside .aside_form p a:hover {
  color: #cbbc72;
}
.contacts .contacts__bottom .contact_form {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts .contacts__bottom .contact_form input {
  padding: 9px;
  font-size: 12px;
  font-family: "Roboto Slab", sans-serif;
  color: #555;
  width: 48%;
  height: 40px;
  border: 1px solid #555;
  margin-bottom: calc(8px + (18 - 8) * ((100vw - 320px)/ (1600 - 320)));
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
.contacts .contacts__bottom .contact_form textarea {
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  padding: 9px;
  min-height: 100px;
  border: 1px solid #555;
  letter-spacing: 0.1px;
  margin-bottom: 1.5em;
}
.contacts .contacts__bottom .contact_form input:focus {
  border-radius: 8px;
}
.contacts .contacts__bottom .contact_form input:focus,
.contacts .contacts__bottom .contact_form textarea:focus {
  outline: none;
  border: 1px solid #000000;
}
.contacts .contacts__bottom .contact_form div {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacts .contacts__bottom .contact_form div .button {
  font-family: "Roboto Slab", sans-serif;
  color: #555;
  border-radius: 0px;
  padding: 10px 40px;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-bottom: 0px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contacts .contacts__bottom .contact_form div .button:hover {
  box-shadow: 0px 0px 10px #686868;
}
.contacts .contacts__bottom .contact_form div p {
  width: 150%;
  font-size: 12px;
}
.contacts .contacts__bottom .contact_form div p span {
  color: #c0301c;
}

@media (max-width: 767px) {
  .contacts .contacts__bottom {
    flex-direction: column;
  }
  .contacts .contacts__bottom .contacts__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .contacts .contacts__bottom .contacts__aside .aside_form {
    margin: 0px 15px 10px 15px;
  }
  .contacts .contacts__bottom .contact_form div {
    flex-wrap: wrap;
  }
  .contacts .contacts__bottom .contact_form div .button {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
@media (max-width: 430px) {
  .contacts .contacts__bottom .contacts__aside .aside_form {
    text-align: center;
  }
  .contacts .contacts__bottom .contacts__aside .aside_form .aside_form-top {
    justify-content: center;
  }
  .contacts .contacts__bottom .contact_form {
    padding: 0 5px;
  }
  .contacts .contacts__bottom .contact_form input {
    width: 100%;
  }
}
#scrollTop {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(192, 48, 28, 0.8);
  box-shadow: 0 0 8px #fff, inset 0 0 2px #fff;
  opacity: 0;
  transition: all 1s ease;
  cursor: pointer;
}

#scrollTop:hover {
  background-color: #c0301c;
}

#scrollTop::after,
#scrollTop::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 20px;
  height: 5px;
  background-color: #fff;
  border-radius: 2.5px;
}

#scrollTop::after {
  transform: rotate(-45deg);
  right: 40.5%;
}

#scrollTop::before {
  transform: rotate(45deg);
  left: 40.5%;
}

body.lock {
  overflow: hidden;
}

.popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popup .popup__body .popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 17px;
  color: #000;
  text-decoration: none;
}
.popup .popup__body .popup__content .popup__contact-form {
  font-family: "Roboto Slab", sans-serif;
  color: #555;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
.popup .popup__body .popup__content .popup__contact-form input {
  width: 85%;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 1px;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.popup .popup__body .popup__content .popup__contact-form .submit {
  color: #555;
  max-width: 80%;
  font-size: 12px;
  padding: 10px 30px;
  border: 1px solid black;
  background-color: #efefef;
  margin-bottom: 20px;
  cursor: pointer;
}
.popup .popup__body .popup__content .popup__contact-form .submit:hover {
  box-shadow: 0 0 1px #c0301c;
  border-color: #fff;
  color: #fff;
  background-color: #c0301c;
}
.popup .popup__body .popup__content .popup__contact-form p {
  font-size: 12px;
}
.popup .popup__body .popup__content .popup__contact-form p span {
  color: #c0301c;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer {
  background-color: #c0301c;
  padding: calc(24px + (100 - 24) * ((100vw - 320px)/ (1600 - 320))) 0;
  text-align: center;
}
.footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-social .socisl-item {
  text-align: center;
  margin: 0 8px;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer .footer-social .socisl-item a i {
  line-height: 30px;
  color: #ffffff;
}
.footer .footer-social .socisl-item:hover {
  border: 2px solid #ffe684;
}
.footer .footer-social .socisl-item:hover a i {
  color: #ffe684;
}
.footer hr {
  margin: 20px auto;
  width: 50px;
  height: 2px;
  background-color: white;
}
.footer p {
  color: white;
  letter-spacing: 0.5px;
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(10px + (12 - 10) * ((100vw - 320px)/ (1600 - 320)));
}